name: C++ CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y g++ cmake

      - name: Build and Test
        run: |
          g++ -std=c++11 -o binary_search src/searching/binary_search.cpp
          g++ -std=c++11 -o linear_search src/searching/linear_search.cpp
          
          ./binary_search
          ./linear_search
