name: C++ CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential g++ make cmake libgtest-dev
        cd /usr/src/gtest
        sudo cmake .
        sudo make
        sudo cp lib/libgtest* /usr/lib
        
    - name: Build and test Assignment 1
      working-directory: ./algorithms-and-data-structures/Assignment1
      run: |
        make
        ./run_tests
        
    - name: Build and test Assignment 2
      working-directory: ./algorithms-and-data-structures/Assignment2
      run: |
        make
        ./run_tests
